<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Albums - Music Player</title>
    <link rel="shortcut icon" href="/favicon/Musically.svg" type="image/x-icon">
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
<h1>Albums by <span id="artistName"></span></h1>
<ul class="album-list" id="albumList">
    <!-- Albums will be dynamically added here -->
</ul>

<script src="/js/albumArtist.js"></script>
</body>
</html>
